<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间就是一个限定名，用来指定你要求的是哪个文件内的id为什么什么的sql语句-->
<mapper namespace="cn.edu.tyut.mapper.StudentMapper">
    <select id="selectStudentByAddressOrName" resultType="Student">
        SELECT * FROM students
        <where>
            <if test="name != null">
                AND NAME = #{name}
            </if>
            <if test="address != null">
                AND address = #{address}
            </if>
        </where>
    </select>
</mapper>